.partners__inner {
    padding: 100px 165px 100px 165px;
    display: flex;
    justify-content: space-around;
}

.partners__content {
    max-width: 445px;
}

.partners__heading {
    margin: 0;
    margin-bottom: 24px;
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;   
    letter-spacing: -0.369231px;
    color: #fbfcfe;
}

.partners__text {
    margin: 0;
    margin-bottom: 32px;
    color: #fbfcfe;
    opacity: 0.7;
}

.partners__button {
    padding: 16px 32px 14px 32px;
    margin: 0;
    border: 1px solid #fbfcfe;
    border-radius: 24px;
    background-color: transparent;
    color: #fbfcfe;
}

.partners__button:hover {
    background-color: #fff;
    color: #1B262F;
}

.partners__button:active {
    background-color: transparent;
    mix-blend-mode: normal;
    color: #fbfcfe;
    opacity: 0.5;
}

.partners__list {
    @include list-unnderline;
    margin-left: 131px;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
}

.partners__item--first {
    margin: 0;
}

.partners__item {
    margin-left: 60px;
}

.partners__item--four {
    margin: 0;
}

@media only screen and (max-width: 1150px) {
    .partners__inner {
        padding: 100px 85px 100px 85px;
    }

    .partners__list {
        margin-left: 100px;
    }

    .partners__item:nth-child(3) {
        margin: 0;
    }

    .partners__item--four {
        margin-left: 60px;
    }

    .partners__item:nth-child(5) {
        margin: 0;
    }
}

@media only screen and (max-width: 1050px) {
    .partners__list {
        margin-top: 0;
        flex-direction: column;
        margin-left: 140px;
    }

    .partners__item--first {
        margin-bottom: 20px;
    }

    .partners__item {
        margin: 0;
        margin-bottom: 20px;
    }

    .partners__item:nth-child(3) {
        margin: 0;
        margin-bottom: 20px;
    }

    .partners__item--four {
        margin: 0;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .partners__inner {
        max-width: 780px;
        align-items: center;
        flex-direction: column-reverse;
    }

    .partners__content {
        text-align: center;
    }
    
    .partners__list {
        margin-top: 0;
        flex-direction: row;
        margin-left: 0px;
    }

    .partners__item--first {
        margin-bottom: 39px;
    }

    .partners__item {
        margin: 0;
        margin-left: 30px;
        margin-bottom: 60px;
    }

    .partners__item:nth-child(3) {
        margin: 0;
        margin-left: 60px;
        margin-bottom: 39px;
    }

    .partners__item--four {
        margin: 0;
        margin-bottom: 39px;
    }

    .partners__item:nth-child(5) {
        margin: 0;
        margin-left: 60px;
    }

    .partners__item:nth-child(6) {
        margin-left: 70px;
    }
}


@media only screen and (max-width: 673px) {
    .partners__inner {
        align-items: center;
        padding: 0;
        padding-top: 88px;
        padding-bottom: 88px;
    }

    .partners__list {
        margin-top: 0;
        flex-direction: row;
        margin-left: 0px;
    }

    .partners__item--first {
        margin-left: 40px;
        margin-bottom: 39px;
    }

    .partners__item {
        margin: 0;
        margin-left: 30px;
        margin-bottom: 60px;
    }

    .partners__item:nth-child(3) {
        margin: 0;
        margin-left: 60px;
        margin-bottom: 39px;
    }

    .partners__item--four {
        margin: 0;
        margin-left: 40px;
        margin-bottom: 39px;
    }

    .partners__item:nth-child(5) {
        margin: 0;
        margin-left: 60px;
    }

    .partners__item:nth-child(6) {
        margin-left: 70px;
    }
}


@media only screen and (max-width: 545px) {
    .partners__item--first {
        margin-left: 0px;
        margin-bottom: 39px;
    }

    .partners__item--four {
        margin: 0;
        margin-left: 0px;
        margin-bottom: 39px;
    }
}

@media only screen and (max-width: 504px) {
    .partners__list {
        max-width: 320px;
        margin-left: 20px;
        align-items: center;
    }

    .partners__item--first {
        margin: 0;
        margin-bottom: 20px;
    }

    .partners__item {
        margin: 0;
        margin-left: 30px;
        margin-bottom: 20px;
    }

    .partners__item:nth-child(3) {
        margin: 0;
        margin-bottom: 20px;
    }

    .partners__item--four {
        margin: 0;
        margin-left: 30px;
        margin-bottom: 30px;
    }

    .partners__item:nth-child(5) {
        margin: 0;
        // margin-left: 30px;
        margin-bottom: 30px;
    }

    .partners__item:nth-child(6) {
        margin: 0;
        margin-left: 50px;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 375px) {
    .partners__inner {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .partners__content {
        max-width: 327px;
    }

    .partners__heading {
        font-size: 32px;
        line-height: 36px;   
    }

    .partners__text {
        font-size: 15px;
        line-height: 28px;
    }

    .partners__list {
        margin-left: 40px;
    }

    .partners__item--first {
        margin: 0;
        margin-bottom: 39px;
    }

    .partners__item:nth-child(2){
        margin-left: 50px;
        margin-bottom: 39px;
    }

    .partners__item:nth-child(3) {
        margin-bottom: 39px;
    }

    .partners__item--four {
        margin-left: 57px;
        margin-bottom: 39px;
    }

    .partners__item:nth-child(5) {
        margin: 0;
        margin-bottom: 56px;
    }

    .partners__item:nth-child(6) {
        margin-left: 75px;
        margin-bottom: 56px;
    }

    .partners__img {
        width: 107px;
        height: 15px;
    }

    .partners__img-two{
        width: 120px;
        height: 26px;
    }

    .partners__img-three {
        width: 115px;
        height: 22px;
    }

    .partners__img-four {
      width: 108px;
      height: 14px;
    }

    .partners__img-five {
       width: 79px;
       height: 27px;
    }

    .partners__img-six {
       width: 113px;
       height: 22px;
    }
}

@media only screen and (max-width: 332px) {
   .partners__list {
    margin-left: 20px;
   }
}




